
.page-header {
    border-top: 2px solid $secondary-color;
    border-bottom: 2px solid $secondary-color;
    padding-top: 50px;
    p {
        font-size: 20px;
    }
}

.waterfall-image-box {
  margin: 10px;
}

.waterfall-box {
  padding:5px;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: white;
  margin: 6px;
  text-align: center;
  font-size: 1.2em;
  transition: all .2s ease-in-out;
  &:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    transform: scale(1.5);
  }
  
}

.halfpage {
  font-size: 10px !important;
}

.halfpage-image {
  margin-top: 50px;
  &:hover {
    color:  blue;
  }
}

.banner {
  // background-color: slategray;
  background: #fff url('../img/wedding-rings.jpg');
  box-shadow: 1px 1px 5px rgba(20, 20, 20, 0.3);
  height: 80px;
  width: 100%;
  margin-bottom: 10px;
}

.banner h1 {
  color: #000;
  // color: $primary-color;
  font-family: 'Pinyon Script', sans-serif;
  font-size: 46px;
  margin-left: 30px;
  margin-top: 20px;
}