// Variables
$deepOrange50: #fbe9e7;
$deepOrange100: #ffccbc;
$deepOrange200: #ffab91;
$deepOrange300: #ff8a65;

$orange50: #fff3e0;
$orange100: #ffe0b2;
$orange200: #ffcc80;
$orange300: #ffb74d;

$grey50: #FAFAFA;
$grey100: #F5F5F5;
$lightBlue50: #e1f5fe;

$red50: #ffebee;

$pink-hint: #fff6f4;
$blue-hint: #f4f6ff;
$secondary-default: #00cdff;
// Main color

// $primary-color: $orange50;

// $panel-color: $orange100;

// $banner-color: $red50;

$primary-color: $grey100;

$panel-color: white;

$banner-color: white;

// Anchor color
$secondary-color: maroon;

// Font color
$font-color: #000;
$font-color-alt: #ed3267;

$navbar-text-shadow: true;
$header-text-shadow: true;
$header-background-color: $primary-color;
$intro-text-color: $font-color;
$intro-text-color-alt: $font-color-alt;
$navbar-color: $font-color;
$navbar-lg-collapse-background-color: $header-background-color;
$navbar-lg-background: transparent;
$navbar-sm-background-color: $navbar-lg-collapse-background-color;

$social-buttons-color: $secondary-color;

