// Variables



$pink-hint: #fff6f4;
$blue-hint: #f4f6ff;
// Main color
$primary-color: white;

// Anchor color
$secondary-color: #00cdff;

// Font color
$font-color: #000;
$font-color-alt: #ed3267;

$navbar-text-shadow: true;
$header-text-shadow: true;
$header-background-color: $primary-color;
$intro-text-color: $font-color;
$intro-text-color-alt: $font-color-alt;
$navbar-color: $font-color;
$navbar-lg-collapse-background-color: $header-background-color;
$navbar-lg-background: transparent;
$navbar-sm-background-color: $navbar-lg-collapse-background-color;

$social-buttons-color: $secondary-color;
